.header {
    width: 100vw;
    height: 50px;
    background: var(--color-cyan);
    position: fixed;
    top: 0;
    box-shadow: 2px 11px 7px -1px rgba(0,0,0,0.68);
    display: flex;
    justify-content: flex-start;
    z-index: 100;
}

.title {
    font-size: 30px;
    color: var(--color-black);
    padding: 10px 0 0 10px;
}

.menuDiv {
    position: fixed;
    top: 50px;
    width: 90%;
    max-width: 200px;
    height: 0px;
    background-color: var(--color-cyan);
    box-shadow: 2px 11px 7px -1px rgba(0,0,0,0.68);
    border-radius: 0 0 10px 10px;
    z-index: 99;
    max-height: 450px;
    transition: height 500ms ease-in-out;
    overflow: hidden;
}


.menuButton {
    width: 58px;
    height: 80%;
    background-color: var(--color-darkpurple);
    border-radius: 10px;
    color: var(--color-cyan);
    font-size: 45px;
    line-height: 0;
    z-index: 100;
    border: transparent;
    padding: 5px;
    margin: 5px 0 0 5px;
}

.menuLink {
    width: 100%;
    display: block;
    font-size: 25px;
    text-decoration: none;
    color: var(--color-black);
    padding: 3px 0 5px 15px;
    background-color: var(--color-cyan);
}

.menuLink:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menuLink:hover {
    background-color: var(--color-darkpurple);
    color: var(--color-cyan);
    
}

