.tableDiv {
    padding: 10px;
}

.monthNameTitle {
    text-align: center;
    margin: 60px auto 20px auto;
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--color-yellow)
}

.entriesTable {
    width: min(1200px,100%);
    margin: auto;
    background-color: var(--color-table-odd);
    color: white;
    font-size: 1.1em;
    border-radius: 10px;
    border-collapse: collapse;
    box-shadow: 2px 0px 15px 5px rgba(175,126,189,0.78);
    overflow: hidden;
    margin-bottom: 50px;
}

.entriesTable tr:nth-child(even){
    background-color: var(--color-table-even);
}

th {
    color: var(--color-black);   
    background-color: var(--color-yellow);
    padding: 10px;
    font-weight: 900;
}

td, th {
    border: 1px solid rgba(0, 0, 0, 0.068);
    text-align: left;
}

tr td:not(:nth-child(3)) {
    padding-left: 10px;
}

tr td:nth-child(2) {
    text-align: center;
    width: 150px;
}

tr td:nth-child(3) {
    width: 50px;
    height: 50px;
}

.deleteButtonTable {
    width: 100%;
    height: 100%;
    background-color: var(--color-cyan);
    color: var(--color-black);
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 900;
}
