@charset "utf-8";
/* configurações gerais */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-repeat: no-repeat;
    background-size: contain;
    
}

h1 {
    color: white;
    text-shadow: 2px 2px 0 #16259d;
    padding: 10px;
    width: 100%;
}
