@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: 'Passion One', cursive; 
    --fonte2: Verdana, Geneva, Tahoma, sans-serif;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: white;
    font-family: var(--fonte2);
    margin-bottom: -70px;
}
pre {
    white-space: pre-line;
}
header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte1);
    margin: auto;
    padding-top: 50px;
    font-size: 10vw;
    font-variant: small-caps;   
}

header p {
    font-family: var(--fonte2);
    margin: auto;
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--fonte3);
    font-size: 4vw;
    padding-left: 50px;

}

section.normal {
    background-color: white;
    color: black;
   
    
}
section.imagem {
    background-color: rgb(58, 57, 57);
    color: white;
    padding-bottom: 50px;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.527);
    background-size: cover;
    background-attachment: fixed;
    
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.363);
    padding: 10px;
    display: inline-block;
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;

}

section#img02 {
    background-image: url(../imagens/background002.jpg);
}

footer {
    background-color: black;
}

footer p {
    color: white;
    font-family: var(--fonte2);
    text-align: center;
    padding: 10px;
}