@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
   /* height: 100%; */
}

body {
   background-image: linear-gradient(to right, #C37EDB, #B7A6F6);
}

main {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #8d6da0c5;
    width: 600px;
    padding: 10px;
    margin: auto
}

h1 {
    color: #FC8DCA;
    text-align: center;
    text-shadow: 1px 1px 2px #99567bce;

}

h2 {
    color: #88A3E2;

}

p {
    text-align: justify;
}