* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #09090a;
  color: white;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 48px;
  background-color: #09090a;
  position: fixed;
  width: 100%;
  
}

form {
  display: flex;
  padding: 182px 48px 48px;
  width: fit-content;
}

.habits {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.habit {
  width: 64px;
  height: 64px;
  font-size: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.days {
  display: flex;
  gap: 48px;
  margin: 32px;
}
.day {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.day div {
  margin-left: 8px;
  font-family: "Roboto Mono";
  font-size: 20px;
  font-weight: 700;
  line-height: 125%;
  color: #a1a1aa;
  text-align: center;
}

button {
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid #8b5cf6;
  background-color: transparent;
  color: white;

  display: flex;
  align-items: center;
  gap: 12px;

  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
}

input {
  appearance: none;
  -webkit-appearance: none;
  width: 64px;
  height: 64px;
  background: #18181b;
  border: 2px solid #27272a;
  border-radius: 8px;
}

input:checked {
  background: #8b5cf6;
  border: 2px solid #a78bfa;
  border-radius: 8px;
}

@media (max-width: 570px) {
  button div {
    display: none;
  }
}
