@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    height: 100vh;
    width: 100vw;
    background-color: blueviolet;
}
body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../imagens/frame-iphone.png) no-repeat;
    
    height: 627px;
    width: 311px;  
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}
section#redes-sociais {
    text-align: right;
}
section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.438);
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.568);
    transform: translate(-3px,-3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.555);
    transition: transform 0.3s, border 1s;
}
