@charset "utf-8";
/*impressão*/

* {
    margin: 10px;
    padding: 10px;
}

html {
  font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

menu {
    display: none;
}

article {
    width: 100%;
    text-align: justify;
    margin: auto;
}

article::after {
    content: 'Esse artigo foi impresso através do site www.cursoemvideo.com';
}